<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="PropertyPlaceholderConfigurer" class="com.code.refactoring.spring相关.propertyPlaceholderConfigurer.CustomPropertyConfig">
        <property name="locations">
            <list>
                <value>classpath:config/application-dev.properties</value>
                <value>classpath:config/application-test.properties</value>
                <value>classpath:config/application-prod.properties</value>
            </list>
        </property>
    </bean>

    <bean id="studentService" class="com.code.refactoring.spring相关.propertyPlaceholderConfigurer.StudentService">
        <property name="name" value="${student.name}"/>
    </bean>
</beans>